<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary flagname" id="country" ngbDropdownToggle>
      <i class="flag" [ngClass]="getFlagSelector()"></i> {{getFlagName()}}
  </button>
  <div ngbDropdownMenu aria-labelledby="country">
    <button class="dropdown-item flagname" *ngFor="let flag of flags" (click)="selectFlag(flag)">
      <i class="flag" [ngClass]="flag.selector"></i>{{flag.name}}
    </button>
  </div>
</div>
<div class="input group">
    <input type="text" class="form-control" placeholder="Name" aria-label="Name" [(ngModel)]="username">
</div>

<button class="btn btn-outline-primary" (click)="next()">Next</button>