<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      <img alt="Ethiopia" src="assets/flags/001-ethiopia.png" width="32" height="32" /> Ethiopia
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button class="dropdown-item">
      <img alt="Ethiopia" src="assets/flags/001-ethiopia.png" width="32" height="32" /> Ethiopia
    </button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>