<proride-cover [display]="false"></proride-cover>
<div class="container">
    <h2>Orden</h2>
</div>
<proride-sticker [fname]="order.sticker.fname" [lname]="order.sticker.lname" [flag]="order.sticker.vflag" [design]="order.design"></proride-sticker>
<div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-4">Orden</div>
          <div class="col-8"><strong>XXXXXXXX</strong></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Bandera</div>
          <div class="col-8"><img alt="Bandera" [src]="flagPath(order.sticker.vflag)" height="48" /></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Nombre</div>
          <div class="col-8"><strong>{{order.sticker.fname}} {{order.sticker.lname}}</strong></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Diseño</div>
          <div class="col-8"><strong>{{order.design.name}}</strong></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Paquete</div>
          <div class="col-8"><strong>{{order.package.name}}</strong></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Direccion</div>
          <div class="col-8"><strong>{{order.billing.address}}</strong></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Ciudad</div>
          <div class="col-8"><strong>{{order.billing.city}}</strong></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Pais</div>
          <div class="col-8"><strong>{{order.billing.country}}</strong></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Telefono</div>
          <div class="col-8"><strong>{{order.billing.phone}}</strong></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-4">Precio</div>
          <div class="col-8"><strong>{{order.package.price | currency }}</strong></div>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
</div>
<br>
<div class="container text-right">
    <div>
        <div class="btn btn-primary text-light">Consignacion por Banco</div>
        <p>
          <strong>Cuenta de Ahorros Bancolombia</strong><br>
          <strong>No:</strong> XXXXXXXX<br>
          <strong>Referencia:</strong> PRO00001
        </p>
    </div>
        
</div>
