<proride-cover asset="cover2" label="Stickers para tu Bici"></proride-cover>
<proride-breadcrumbs [level]="1"></proride-breadcrumbs>
<div class="container">
    <h2>Diseño</h2>
</div>
<proride-sticker [fname]="order.sticker.fname" [lname]="order.sticker.lname" [flag]="order.sticker.vflag" [design]="order.design"></proride-sticker>
<div class="container">

    <div class="proride-btpanel">
        <div class="row">
            <div class="col-md-4 text-center" *ngFor="let design of designs">
                <button class="btn btn-lg" (click)="selectDesign(design)" [ngClass]="design.selected">
                    <img alt="{{design.name}}" class="img-fluid" src="{{root}}/assets/proride/{{design.code}}.png" width="200" height="200" />
                </button><br><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div *ngIf="order.design"> Seleccionaste <span class="btn btn-dark">{{order.design.name}}</span></div>
            <div *ngIf="showErrorMessage" class="alert alert-error">Por favor selecciona un diseño</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Siguiente o Anterior">
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="previous()">Anterior</button>
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="next()" [disabled]="!order.design">Siguiente</button>
            </div>
        </div>
    </div>
</div>
<br><br><br>