<proride-cover asset="cover2"></proride-cover>
<proride-breadcrumbs [level]="1"></proride-breadcrumbs>
<br>
<div class="container">
    <h2>Diseño</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="btn btn-dark btn-lg btn-block">
                <img *ngIf="order.sticker.flag" [alt]="order.sticker.flag.name" [src]="flagPath(order.sticker.flag)" width="64px" /> {{order.sticker.fname}} <strong>{{order.sticker.lname}}</strong>
            </div>
        </div>  
    </div>
    <br><br><br>

    <div class="row">
        <div class="col-md-12 text-center">
            <button *ngFor="let design of designs" class="btn btn-lg" (click)="selectDesign(design)" [ngClass]="design.selected">
                <img alt="{{design.name}}" class="img-fluid" src="{{root}}/assets/proride/{{design.code}}.png" width="200" height="200" />
            </button><br><br>
            <div *ngIf="order.design"> Seleccionaste <span class="btn btn-dark">{{order.design.name}}</span></div>
            <div *ngIf="showErrorMessage" class="alert alert-error">Por favor selecciona un diseño</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Siguiente o Anterior">
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="previous()">Anterior</button>
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="next()" [disabled]="!order.design">Siguiente</button>
            </div>
        </div>
    </div>
</div>
<br><br><br>