<proride-cover asset="cover1"></proride-cover>
<proride-breadcrumbs [level]="1"></proride-breadcrumbs>
<br><br><br>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="btn btn-dark btn-lg btn-block">
        <i class="flag" [ngClass]="flag.selector"></i> <span class="flagname">({{flag.name}})</span> {{fname}} {{lname}}
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<br><br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="text-align: center;">
        <button *ngFor="let design of designs" class="btn btn-outline-dark btn-lg" (click)="selectDesign(design)">
            <img alt="{{design.name}}" class="img-fluid" src="/assets/proride/{{design.code}}.png" width="200" height="200" />
        </button><br><br>
        <div> Seleccionaste <span class="btn btn-dark">{{design.name}}</span></div>
    </div>
    <div class="col-md-1"></div>
</div>

<br><br><br>
<div class="container">
    <div class="row">
      <div class="col-md-6">
          <button class="btn btn-outline-dark btn-lg btn-block" (click)="previous()">Anterior</button>
      </div>
      <div class="col-md-6">
          <button class="btn btn-outline-dark btn-lg btn-block" (click)="next()">Siguiente</button>
      </div>
    </div>
</div>