<proride-cover [display]="false"></proride-cover>
<div class="container">
  <h3>Política de Privacidad</h3>
  <p>Fecha de entrada en vigor: 25 de mayo de 2018</p>
  <p>Su privacidad es muy importante para nosotros. Lea a continuación como Proride gestiona la información. Antes de que llegue a los detalles, le enumeramos algunos de estos principios fundamentales sobre privacidad:</p>
  <ul>
    <li>La información que usted carga en nuestra web @Proride es utilizada solo para fines comerciales y para la entrega de los pedidos.</li>
    <li>Nosotros agregamos y anonimizamos cierta información acerca de nuestros clientes para utilizarla con fines empresariales.</li>
    <li>Le brindamos varias formas de controlar la privacidad de su información personal y trabajamos constantemente para mejorar las opciones de privacidad a su disposición.</li>
  </ul>
  <p>Proride respeta su privacidad y comparte su preocupación por la seguridad de la información que pueda enviar a los sitios web de Proride y las aplicaciones y servicios móviles relacionados con nuestro servicio. Nuestra política de privacidad (la "Política de privacidad") explica qué solo la información que usted nos provee en el formulario de confirmación de ordenes, sera utilizada con fines comerciales y de distribución o entrega de sus pedidos que haya adquirido con nosotros al lugar o punto de contacto suministrado por usted mismo. </p>
  <p>Proride tiene su sede en Bogotá Colombia y nuestros servicios se proporcionan a traves de nuestra página web www.proride.com.co  Proride, es quien controla sus datos personales en virtud de la ley de protección de datos.</p>
  <p>Esta Política de privacidad no es aplicable a productos o servicios de terceros ni a las prácticas de empresas que no son de nuestra propiedad o controlamos, incluidas otras empresas con las que usted podría interactuar directamente o a través de los Servicios.</p>
  <p>Las preguntas o comentarios acerca de esta Política de privacidad las puede enviar por correo electrónico a la dirección que aparece a continuación a través de nuestra página web http://www.proride.com.co/contact </p>
  <p>
      <br><strong>Proride</strong> 
      <br>Calle 134 No. 89ª - 52  
      <br>Bogotá Colombia 
      <br>Attn: Legal 
      <br><a href="www.proride.com.co">www.proride.com.co</a>
  </p>
</div>


