.proride-cover { 
    background-size: contain;
    width: 100%;
    height: auto;
    background-position: center 0;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

@media (max-width: 576px) {
    .proride-cover {
        height: 150px;
    }
}

.proride-bars {
    width: 100%;
}

.proride-bars div {
    width: 100%;
    height: 4px;
}

.proride-bars div.proride-one {
    background-color: #009fe2;
}

.proride-bars div.proride-two {
    background-color: #e20613;
}

.proride-bars div.proride-three {
    background-color: #1d1d1b;
}

.proride-bars div.proride-four {
    background-color: #ffec00;
}

.proride-bars div.proride-five {
    background-color: #009540;
}

.proride-bars div.proride-six {
    background-color: white;
    height: 2px;
}