.proride-cover { 
    background-size: cover;
    width: 100%;
    height:250px;
}

.proride-cover.cover1 {
    background: url('/assets/proride/bg1.jpg') no-repeat center 0 fixed; 
}

.proride-bars {
    width: 100%;
}

.proride-bars div {
    width: 100%;
    height: 8px;
}

.proride-bars div.proride-one {
    background-color: #009fe2;
}

.proride-bars div.proride-two {
    background-color: #e20613;
}

.proride-bars div.proride-three {
    background-color: #1d1d1b;
}

.proride-bars div.proride-four {
    background-color: #ffec00;
}

.proride-bars div.proride-five {
    background-color: #009540;
}

.proride-bars div.proride-six {
    background-color: white;
    height: 2px;
}