<div class="proride-bars">
  <div class="proride-one"></div>
  <div class="proride-two"></div>
  <div class="proride-three"></div>
  <div class="proride-four"></div>
  <div class="proride-five"></div>
  <div class="proride-six"></div>
</div>
<div class='proride-cover'></div>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="#">Nombre/Pais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Diseño</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Paquete</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Pagos</a>
  </li>
</ul>