<proride-cover asset="cover3"></proride-cover>
<proride-breadcrumbs [level]="2"></proride-breadcrumbs>
<div class="container">
    <h2>Paquete</h2>
</div>
<proride-sticker [fname]="order.sticker.fname" [lname]="order.sticker.lname" [flag]="order.sticker.flag" [design]="order.design"></proride-sticker>
<div class="container">
    <!--div class="row">
        <div class="col-md-12">
            <div class="btn btn-dark btn-lg btn-block">
                <img *ngIf="order.sticker.flag" [alt]="order.sticker.flag.name" [src]="flagPath(order.sticker.flag)" width="64px" />
                <span>{{order.sticker.fname}} <strong>{{order.sticker.lname}}</strong></span>
                <span *ngIf="order.design" class="d-none d-md-inline">({{order.design.name}})</span>
            </div>
        </div>
    </div>
    <br><br><br-->

    <div class="row">
        <div class="col-md-12 text-center" *ngIf="order.package">
            <p>{{order.package.name}}</p>
            <h3 style="color:slateblue;font-style: italic;">{{order.package.price | currency}} Mas Envio Gratis</h3>
        </div>
    </div>

    <div class="proride-btpanel">
        <div class="row">
            <div class="col-md-4 text-center" *ngFor="let package of packages">
                <button class="btn"
                    (click)="selectPackageOption(package)"
                    [ngClass]="getStatus(package)"
                    [disabled]="!package.enabled">
                    <img alt="{{package.name}}" src="{{root}}/assets/proride/{{package.code}}.png" width="200" height="200"/>
                    <span class="proride-bttext">{{package.name}}</span>
                </button>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Siguiente o Anterior">
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="previous()">Anterior</button>
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="next()" [disabled]="!order.package">Siguiente</button>
            </div>
        </div>
    </div>
</div>
<br><br><br>