<proride-cover asset="cover1"></proride-cover>
<br><br><br>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="btn btn-dark btn-lg btn-block">
            <i class="flag" [ngClass]="flag.selector"></i> <span class="flagname">({{flag.name}})</span> {{fname}} {{lname}} ({{design.name}})
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<br><br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="text-align: center;">
        <a *ngFor="let package of packages" (click)="selectPackageOption(package)" [ngClass]="getStatus(package)">
            <img alt="{{package.name}}" class="img-fluid" src="/assets/proride/{{package.code}}.png"/>
        </a>
        <div class="btn btn-dark">
            <span>{{pack.name}}</span>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<br><br><br>
<div class="container">
    <div class="row">
      <div class="col-md-6">
          <button class="btn btn-outline-primary btn-lg btn-block" (click)="previous()">Anterior</button>
      </div>
      <div class="col-md-6">
          <button class="btn btn-outline-primary btn-lg btn-block" (click)="next()">Siguiente</button>
      </div>
    </div>
</div>