<mrc-menu></mrc-menu>
<div class="bg-light text-dark">
    <router-outlet></router-outlet>
    <br><br><br>
</div>
<div class="container-fluid proride-bg-dark text-light">
    <div class="container" style="padding: 1em;">
        <p class="text-center"><img alt="Proride" src="{{root}}/assets/proride/logow_150x30.png" /></p>
    </div>
</div>
<div class="proride-bars proride-bars-thinner">
    <div class="proride-one"></div>
    <div class="proride-two"></div>
    <div class="proride-three"></div>
    <div class="proride-four"></div>
    <div class="proride-five"></div>
</div>
<div class="container-fluid proride-bg-dark text-light">
    <div class="container" style="padding: 1em;">
        <p class="text-center proride-copy">Bogotá Colombia |
            <a routerLink="/privacy">Política de Privacidad</a> |
            <a routerLink="/shipping">Política de Envío y Garantías</a>
        </p>
        <p class="text-center proride-copy">@2018 Proride | All Rights Reserved | By Design @Niviadesign</p>
    </div>
</div>