<proride-cover [display]="false"></proride-cover>
<div class="container">
  <h3>Contáctanos</h3>
  <form [formGroup]="contactFormGroup" (ngSubmit)="send()" novalidate>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="name">*Nombre Completo</label>
          <input class="form-control" type="text" placeholder="*Nombre Completo" id="name" formControlName="name" required/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="email">*Email</label>
          <input class="form-control" type="email" placeholder="*Email" id="email" formControlName="email" required/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="comments">*Comentarios</label>
          <textarea class="form-control" placeholder="*Comentarios" id="comments" formControlName="comments" style="height:12em" required></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <ngb-alert [type]="sendType" *ngIf="sendAlert" (close)="savedAlert=false;">
            <span *ngIf="sendType=='success'">La informacion ha sido enviada!</span>
            <span *ngIf="sendType=='danger'">Todos los campos son requeridos!</span>
          </ngb-alert>
          <button type="reset" class="btn btn-secondary btn-outline-dark">Limpiar</button>
          <button type="submit" class="btn btn-secondary btn-outline-dark">Enviar</button>
        
      </div>
    </div>
  </form>
</div>