<proride-cover asset="cover4" label="{{'CV BRAND YOUR BIKE LIKE A PRO'|translate}}"></proride-cover>
<proride-breadcrumbs [level]="3"></proride-breadcrumbs>
<div class="container">
    <h2 translate>BILLING</h2>
</div>
<proride-sticker [fname]="order.sticker.fname" [lname]="order.sticker.lname" [flag]="order.sticker.vflag" [design]="order.design" [mode]="stickerMode"></proride-sticker>
<form [formGroup]="billingFormGroup" (ngSubmit)="next()" novalidate>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*{{'FIRST NAME' | translate }}" formControlName="fname" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*{{'LAST NAME' | translate }}"  formControlName="lname" required /><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="email" placeholder="*{{'EMAIL' | translate }}" formControlName="email" required/><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*{{'ADDRESS' | translate }}" formControlName="address" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*{{'PHONE NUMBER' | translate }}" formControlName="phone" required/><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*{{'CITY' | translate }}" formControlName="city" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*{{'COUNTRY' | translate }}"  formControlName="country" required/><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="{{'DISCOUNT CODE' | translate }}"  formControlName="discount_code" (change)="onSetDiscountCode()"/><br>
            <ngb-alert type="danger" *ngIf="discountCodeInvalid" (close)="discountCodeInvalid=false;"><span translate>DISCOUNT CODE INVALID</span></ngb-alert>
            <div class="row">
                <div class="col-4" translate><span translate>SUBTOTAL</span></div>
                <div class="col-8 text-right"><strong>{{order.billing.subtotal  | currency:'COP':'':'1.0-0'}}</strong></div>
            </div>
            <div class="row">
                <div class="col-4"><span translate>DISCOUNT</span></div>
                <div class="col-8 text-right"><strong>{{order.billing.discount  | currency:'COP':'':'1.0-0'}}</strong></div>
            </div>
            <div class="row">
                <div class="col-4 text-lg"><h2 translate>TOTAL</h2></div>
                <div class="col-8 text-right"><h2>{{order.billing.total  | currency:'COP':'':'1.0-0'}}</h2></div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
            <p translate>SAVE ORDER INFO</p>
            <ngb-alert type="success" *ngIf="savedAlert" (close)="savedAlert=false;"><span translate>SHIPPING INFO SAVED</span></ngb-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Siguiente o Anterior">
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="previous()"><span translate>PREV</span></button>
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="save()"><span translate>SAVE</span></button>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Siguiente o Anterior">
                <button type="submit" class="btn btn-secondary btn-outline-dark"><span translate>CONFIRM ORDER</span></button>
            </div>
            <br><br>
        </div>
    </div>
</div>
</form>