<proride-cover asset="cover4" label="Marca tu bici como un Pro"></proride-cover>
<proride-breadcrumbs [level]="3"></proride-breadcrumbs>
<div class="container">
    <h2>Información de Envío</h2>
</div>
<proride-sticker [fname]="order.sticker.fname" [lname]="order.sticker.lname" [flag]="order.sticker.vflag" [design]="order.design" [mode]="stickerMode"></proride-sticker>
<form [formGroup]="billingFormGroup" (ngSubmit)="next()" novalidate>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*Nombre" formControlName="fname" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*Apellido"  formControlName="lname" required /><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="email" placeholder="*Email" formControlName="email" required/><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*Dirección" formControlName="address" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*Teléfono" formControlName="phone" required/><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*Ciudad" formControlName="city" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="*País"  formControlName="country" required/><br>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                <p>
                    Puedes hacer click sobre 'Guardar' si deseas guardar detalles en tu maquina, pero no 
                    quieres confirmar la orden aun. Mientras no la confirmes, podras hacer ajustes.
                    Una vez la orden es confirmada, se enviara un correo a tu dirección de email con los detalles de la orden
                    y unos de nuestros asesores lo contactará.
                </p>
                <ngb-alert type="success" *ngIf="savedAlert" (close)="savedAlert=false;">La informacion de Envío guardada!</ngb-alert>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Siguiente o Anterior">
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="previous()">Anterior</button>
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="save()">Guardar</button>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Siguiente o Anterior">
                <button type="submit" class="btn btn-secondary btn-outline-dark">Confirmar Orden</button>
            </div>
            <br><br>
        </div>
    </div>
</div>
</form>