<proride-cover asset="cover4"></proride-cover>
<proride-breadcrumbs [level]="3"></proride-breadcrumbs>
<div class="container">
    <h2>Información de Envio</h2>
</div>
<proride-sticker [fname]="order.sticker.fname" [lname]="order.sticker.lname" [flag]="order.sticker.flag" [design]="order.design"></proride-sticker>
<form [formGroup]="billingFormGroup" (ngSubmit)="next()" novalidate>
<div class="container">
    <!--div class="row">
        <div class="col-md-12">
            <div class="btn btn-dark btn-lg btn-block">
                <img *ngIf="order.sticker.flag" [alt]="order.sticker.flag.name" [src]="flagPath(order.sticker.flag)" width="64px" />
                <span>{{order.sticker.fname}} <strong>{{order.sticker.lname}}</strong></span>
                <span *ngIf="order.design" class="d-none d-md-inline">({{order.design.name}})</span>
            </div>
        </div>
    </div>
    <br><br><br-->
    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="Nombre" formControlName="fname" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="Apellido"  formControlName="lname" required /><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="email" placeholder="Email" formControlName="email" required/><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="Direccion" formControlName="address" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="Telefono" formControlName="phone" required/><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="Ciudad" formControlName="city" required/><br>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="text" placeholder="Pais"  formControlName="country" required/><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="Siguiente o Anterior">
                <button type="button" class="btn btn-secondary btn-outline-dark" (click)="previous()">Anterior</button>
                <button type="submit" class="btn btn-secondary btn-outline-dark">Siguiente</button>
            </div>
        </div>
    </div>
</div>
</form>