<nav class="navbar navbar-expand-lg navbar-dark proride-bg-dark">
  <a class="proride-logo" href="/name-and-flag"></a>
  <div class="d-flex flex-row order-2 order-lg-3">
    <ul class="navbar-nav flex-row">
      <!--href="tel:+573196546050" -->
      <!--href="intent://send/573196546050#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end"-->
      <a class="nav-link px-2" href="whatsapp://send?phone=573196546050">
        <img src="{{root}}/assets/proride/wassap_64x64.png" height="32px"/>
      </a>
    </ul>
    <button class="navbar-toggler" type="button"
            [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()"
            aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/name-and-flag" (click)="toggleMenu()">INICIO</a>
      </li>
      <!--li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/searchorders" (click)="toggleMenu()">ORDENES</a>
      </li-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about" (click)="toggleMenu()">NOSOTROS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/news" (click)="toggleMenu()">NOTICIAS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact" (click)="toggleMenu()">CONTACTO</a>
      </li>
      <!--li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/en">English</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/es">Español</a>
      </li-->
      
    </ul>
  </div>
</nav>