<nav class="navbar navbar-expand-lg navbar-dark proride-bg-dark">
  <a class="proride-logo" href="/name-and-flag"></a>
  <button class="navbar-toggler" type="button"
          [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()"
          aria-controls="navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">NOSOTROS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/news">NEWS</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact">CONTACTO</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/en">English</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/es">Español</a>
      </li>
      
    </ul>
  </div>
</nav>