<proride-cover asset="cover7" label=""></proride-cover>
<div class="container">
  <h3>Acerca de Nosotros</h3>
  <p>PRORIDE es la mejor plataforma digital en Colombia para crear stickers personalizados para tu bici. Somos expertos en personalizar tu experiencia como ciclista y en darle a tu bici un aspecto profesional.</p>
  <p>Simple, rápido y profesional.</p>
  <p>PRORIDE fue fundado en 2018 por un par de ciclistas entusiastas: Andrew Nivia, diseñador web y su compañero Jan Tropberger, ex ejecutivo de la industria del ciclismo, quien se inspiró en un evento de distribuidores de bicicletas en Niza Francia, en el cuál las Stickers personalizadas en las bicicletas, crearon gran emoción y diversión entre los asistentes.</p>
  <p>PRORIDE con sede en Bogotá, la capital del ciclismo Colombiano, tiene la misión de contagiar la personalización de lo que más te gusta: tu bici.</p>
</div>