<proride-cover asset="cover7" label=""></proride-cover>
<div class="container">
  <h3>Acerca de Nosotros</h3>
  <p>PRORIDE proporciona la mejor plataforma digital en Colombia para crear tu stickers personalizados para tu bici, Somos apasionados en personalizar su experiencia como ciclista y darle un aspecto profesional cuando sale a disfrutar de su bicicleta.</p>
  <p>Simple, rápido y profesional. </p>
  <p>PRORIDE fue fundado en 2018 por un par de ciclistas entusiastas, un diseñador web Andrew Nivia y su compañero Jan Tropberger ex ejecutivo en la industria del ciclismo, quien originalmente se inspiró durante una reunión de ventas de distribuidores de bicicletas en Niza Francia a principios de la década de 2.000, cuando se dio cuenta de cómo las calcomanías (Stickers) personalizadas en las bicicletas de prueba crearon una gran cantidad de emoción y diversión entre los asistentes.</p>
  <p>PRORIDE tiene su sede en Bogotá la capital del ciclismo Colombiano, con la misión de contagiar la personalización de los más quieres, tu bici.</p>
</div>