<proride-cover asset="cover1"></proride-cover>
<proride-breadcrumbs [level]="0"></proride-breadcrumbs>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div *ngIf="flag">
        <img [alt]="flag.name" [src]="fs.flagPath(flag)" width="50%" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
          <input type="text" class="form-control form-control-lg" placeholder="Nombre" aria-label="Nombre" [(ngModel)]="fname">
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control form-control-lg" placeholder="Apellido" aria-label="Apellido" [(ngModel)]="lname">
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<br><br><br>
<div class="container">
    <div class="row">
      <div class="col-md-12">
          <button class="btn btn-outline-dark btn-lg btn-block" (click)="next()">Siguiente</button>
      </div>
    </div>
</div>
<br><br><br>
<ng-template #flagPicker let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
    <p>One fine body&hellip;</p>
      <button (click)="c(flag)" *ngFor="let flag of flags">
        <img [alt]="flag.name" [src]="fs.flagPath(flag)" width="48px" />{{flag.name}}
      </button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<button class="btn btn-outline-dark btn-lg btn-block" (click)="modal(flagPicker)">Modal</button>