<proride-cover asset="cover1"></proride-cover>
<proride-breadcrumbs [level]="0"></proride-breadcrumbs>
<br>
<div class="container">
  <h2>Bandera y Nombre</h2>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-dark btn-lg btn-block" (click)="modal(flagPicker)">Seleccionar Bandera</button>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-2">
      <div *ngIf="flag">
        <img [alt]="flag.name" [src]="fs.flagPath(flag)" width="64px" /> {{flag.name}}
      </div>
    </div>
    <div class="col-md-5">
      <div class="input-group">
          <input type="text" class="form-control form-control-lg" placeholder="Nombre" aria-label="Nombre" [(ngModel)]="fname">
      </div>
    </div>
    <div class="col-md-5">
      <div class="input-group">
        <input type="text" class="form-control form-control-lg" placeholder="Apellido" aria-label="Apellido" [(ngModel)]="lname">
      </div>
    </div>
  </div>
  <br><br><br>

  <div class="row">
    <div class="col-md-12">
        <button class="btn btn-outline-dark btn-lg btn-block" (click)="next()">Siguiente</button>
    </div>
  </div>
<br><br><br>
</div>

<ng-template #flagPicker let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-dark">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-dark">
    <input type="text" class="form-control form-control-lg" placeholder="Nombre de la bandera" aria-label="Buscar Bandera" #searchFlag (keyup)="filterFlags($event,searchFlag.value)">
    <br>
    <div class="row">
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let flag of flags">
        <div class="card" (click)="c(flag)">
          <img class="card-img-top" [src]="fs.flagPath(flag)" [alt]="flag.name">
          <div class="card-body">
            <h5 class="card-text" style="font-size: 1em">{{flag.name}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>