.flagname {
    text-transform: capitalize;
}

.flag {
    width:1em;
    height:1em;
    display: inline-block;
    background-size: 1em 1em;
    background-repeat: no-repeat;
};

.flag-ethiopia { background-image:url('./flags/001-ethiopia.png'); }
.flag-oman { background-image:url('./flags/002-oman.png'); }
.flag-tanzania { background-image:url('./flags/003-tanzania.png'); }
.flag-slovenia { background-image:url('./flags/004-slovenia.png'); }
.flag-puerto-rico { background-image:url('./flags/005-puerto-rico.png'); }
.flag-mozambique { background-image:url('./flags/006-mozambique.png'); }
.flag-iraq { background-image:url('./flags/007-iraq.png'); }
.flag-lebanon { background-image:url('./flags/008-lebanon.png'); }
.flag-uganda { background-image:url('./flags/009-uganda.png'); }
.flag-nigeria { background-image:url('./flags/010-nigeria.png'); }
.flag-italy { background-image:url('./flags/011-italy.png'); }
.flag-malta { background-image:url('./flags/012-malta.png'); }
.flag-tunisia { background-image:url('./flags/013-tunisia.png'); }
.flag-nicaragua { background-image:url('./flags/014-nicaragua.png'); }
.flag-el-salvador { background-image:url('./flags/015-el-salvador.png'); }
.flag-zambia { background-image:url('./flags/016-zambia.png'); }
.flag-wales { background-image:url('./flags/017-wales.png'); }
.flag-dominican-republic { background-image:url('./flags/018-dominican-republic.png'); }
.flag-qatar { background-image:url('./flags/019-qatar.png'); }
.flag-namibia { background-image:url('./flags/020-namibia.png'); }
.flag-mauritius { background-image:url('./flags/021-mauritius.png'); }
.flag-european-union { background-image:url('./flags/022-european-union.png'); }
.flag-luxembourg { background-image:url('./flags/023-luxembourg.png'); }
.flag-hawaii { background-image:url('./flags/024-hawaii.png'); }
.flag-lithuania { background-image:url('./flags/025-lithuania.png'); }
.flag-jamaica { background-image:url('./flags/026-jamaica.png'); }
.flag-honduras { background-image:url('./flags/027-honduras.png'); }
.flag-myanmar { background-image:url('./flags/028-myanmar.png'); }
.flag-kenya { background-image:url('./flags/029-kenya.png'); }
.flag-cyprus { background-image:url('./flags/030-cyprus.png'); }
.flag-pakistan { background-image:url('./flags/031-pakistan.png'); }
.flag-latvia { background-image:url('./flags/032-latvia.png'); }
.flag-japan { background-image:url('./flags/033-japan.png'); }
.flag-kazakhstan { background-image:url('./flags/034-kazakhstan.png'); }
.flag-serbia { background-image:url('./flags/035-serbia.png'); }
.flag-scotland { background-image:url('./flags/036-scotland.png'); }
.flag-north-korea { background-image:url('./flags/037-north-korea.png'); }
.flag-uruguay { background-image:url('./flags/038-uruguay.png'); }
.flag-syria { background-image:url('./flags/039-syria.png'); }
.flag-guatemala { background-image:url('./flags/040-guatemala.png'); }
.flag-iceland { background-image:url('./flags/041-iceland.png'); }
.flag-jordan { background-image:url('./flags/042-jordan.png'); }
.flag-monaco { background-image:url('./flags/043-monaco.png'); }
.flag-spain { background-image:url('./flags/044-spain.png'); }
.flag-slovakia { background-image:url('./flags/045-slovakia.png'); }
.flag-united-nations { background-image:url('./flags/046-united-nations.png'); }
.flag-panama { background-image:url('./flags/047-panama.png'); }
.flag-new-zealand { background-image:url('./flags/048-new-zealand.png'); }
.flag-ecuador { background-image:url('./flags/049-ecuador.png'); }
.flag-romania { background-image:url('./flags/050-romania.png'); }
.flag-chile { background-image:url('./flags/051-chile.png'); }
.flag-finland { background-image:url('./flags/052-finland.png'); }
.flag-hungary { background-image:url('./flags/053-hungary.png'); }
.flag-belgium { background-image:url('./flags/054-belgium.png'); }
.flag-south-korea { background-image:url('./flags/055-south-korea.png'); }
.flag-malaysia { background-image:url('./flags/056-malaysia.png'); }
.flag-venezuela { background-image:url('./flags/057-venezuela.png'); }
.flag-norway { background-image:url('./flags/058-norway.png'); }
.flag-saudi-arabia { background-image:url('./flags/059-saudi-arabia.png'); }
.flag-israel { background-image:url('./flags/060-israel.png'); }
.flag-czech-republic { background-image:url('./flags/061-czech-republic.png'); }
.flag-colombia { background-image:url('./flags/062-colombia.png'); }
.flag-iran { background-image:url('./flags/063-iran.png'); }
.flag-argentina { background-image:url('./flags/064-argentina.png'); }
.flag-ukraine { background-image:url('./flags/065-ukraine.png'); }
.flag-germany { background-image:url('./flags/066-germany.png'); }
.flag-hong-kong { background-image:url('./flags/067-hong-kong.png'); }
.flag-united-arab-emirates { background-image:url('./flags/068-united-arab-emirates.png'); }
.flag-laos { background-image:url('./flags/069-laos.png'); }
.flag-ireland { background-image:url('./flags/070-ireland.png'); }
.flag-greece { background-image:url('./flags/071-greece.png'); }
.flag-denmark { background-image:url('./flags/072-denmark.png'); }
.flag-sweden { background-image:url('./flags/073-sweden.png'); }
.flag-peru { background-image:url('./flags/074-peru.png'); }
.flag-south-africa { background-image:url('./flags/075-south-africa.png'); }
.flag-philippines { background-image:url('./flags/076-philippines.png'); }
.flag-france { background-image:url('./flags/077-france.png'); }
.flag-indonesia { background-image:url('./flags/078-indonesia.png'); }
.flag-egypt { background-image:url('./flags/079-egypt.png'); }
.flag-taiwan { background-image:url('./flags/080-taiwan.png'); }
.flag-cook-islands { background-image:url('./flags/081-cook-islands.png'); }
.flag-cocos-island { background-image:url('./flags/082-cocos-island.png'); }
.flag-christmas-island { background-image:url('./flags/083-christmas-island.png'); }
.flag-ceuta { background-image:url('./flags/084-ceuta.png'); }
.flag-american-samoa { background-image:url('./flags/085-american-samoa.png'); }
.flag-morocco { background-image:url('./flags/086-morocco.png'); }
.flag-anguilla { background-image:url('./flags/087-anguilla.png'); }
.flag-corsica { background-image:url('./flags/088-corsica.png'); }
.flag-canary-islands { background-image:url('./flags/089-canary-islands.png'); }
.flag-comoros { background-image:url('./flags/090-comoros.png'); }
.flag-central-african-republic { background-image:url('./flags/091-central-african-republic.png'); }
.flag-cayman-islands { background-image:url('./flags/092-cayman-islands.png'); }
.flag-british-indian-ocean-territory { background-image:url('./flags/093-british-indian-ocean-territory.png'); }
.flag-bhutan { background-image:url('./flags/094-bhutan.png'); }
.flag-chad { background-image:url('./flags/095-chad.png'); }
.flag-cape-verde { background-image:url('./flags/096-cape-verde.png'); }
.flag-switzerland { background-image:url('./flags/097-switzerland.png'); }
.flag-benin { background-image:url('./flags/098-benin.png'); }
.flag-aruba { background-image:url('./flags/099-aruba.png'); }
.flag-balearic-islands { background-image:url('./flags/101-balearic-islands.png'); }
.flag-andorra { background-image:url('./flags/102-andorra.png'); }
.flag-burundi { background-image:url('./flags/103-burundi.png'); }
.flag-antigua-and-barbuda { background-image:url('./flags/104-antigua-and-barbuda.png'); }
.flag-aland-islands { background-image:url('./flags/105-aland-islands.png'); }
.flag-cameroon { background-image:url('./flags/106-cameroon.png'); }
.flag-brunei { background-image:url('./flags/107-brunei.png'); }
.flag-poland { background-image:url('./flags/108-poland.png'); }
.flag-bonaire { background-image:url('./flags/109-bonaire.png'); }
.flag-belarus { background-image:url('./flags/110-belarus.png'); }
.flag-barbados { background-image:url('./flags/111-barbados.png'); }
.flag-british-virgin-islands { background-image:url('./flags/112-british-virgin-islands.png'); }
.flag-bosnia-and-herzegovina { background-image:url('./flags/113-bosnia-and-herzegovina.png'); }
.flag-bermuda { background-image:url('./flags/114-bermuda.png'); }
.flag-belize { background-image:url('./flags/115-belize.png'); }
.flag-bahrain { background-image:url('./flags/116-bahrain.png'); }
.flag-albania { background-image:url('./flags/117-albania.png'); }
.flag-burkina-faso { background-image:url('./flags/118-burkina-faso.png'); }
.flag-turkey { background-image:url('./flags/119-turkey.png'); }
.flag-basque-country { background-image:url('./flags/120-basque-country.png'); }
.flag-armenia { background-image:url('./flags/121-armenia.png'); }
.flag-afghanistan { background-image:url('./flags/122-afghanistan.png'); }
.flag-british-columbia { background-image:url('./flags/123-british-columbia.png'); }
.flag-angola { background-image:url('./flags/124-angola.png'); }
.flag-azerbaijan { background-image:url('./flags/125-azerbaijan.png'); }
.flag-algeria { background-image:url('./flags/126-algeria.png'); }
.flag-botswana { background-image:url('./flags/127-botswana.png'); }
.flag-bangladesh { background-image:url('./flags/128-bangladesh.png'); }
.flag-cuba { background-image:url('./flags/129-cuba.png'); }
.flag-australia { background-image:url('./flags/130-australia.png'); }
.flag-costa-rica { background-image:url('./flags/131-costa-rica.png'); }
.flag-cambodia { background-image:url('./flags/132-cambodia.png'); }
.flag-bolivia { background-image:url('./flags/133-bolivia.png'); }
.flag-croatia { background-image:url('./flags/134-croatia.png'); }
.flag-bulgaria { background-image:url('./flags/135-bulgaria.png'); }
.flag-galapagos-islands { background-image:url('./flags/136-galapagos-islands.png'); }
.flag-martinique { background-image:url('./flags/137-martinique.png'); }
.flag-tonga { background-image:url('./flags/138-tonga.png'); }
.flag-st-lucia { background-image:url('./flags/139-st-lucia.png'); }
.flag-rapa-nui { background-image:url('./flags/140-rapa-nui.png'); }
.flag-singapore { background-image:url('./flags/141-singapore.png'); }
.flag-palau { background-image:url('./flags/142-palau.png'); }
.flag-niue { background-image:url('./flags/143-niue.png'); }
.flag-macao { background-image:url('./flags/144-macao.png'); }
.flag-fiji { background-image:url('./flags/145-fiji.png'); }
.flag-faroe-islands { background-image:url('./flags/146-faroe-islands.png'); }
.flag-dominica { background-image:url('./flags/147-dominica.png'); }
.flag-vanuatu { background-image:url('./flags/148-vanuatu.png'); }
.flag-sierra-leone { background-image:url('./flags/149-sierra-leone.png'); }
.flag-seychelles { background-image:url('./flags/150-seychelles.png'); }
.flag-kosovo { background-image:url('./flags/151-kosovo.png'); }
.flag-england { background-image:url('./flags/152-england.png'); }
.flag-united-states-of-america { background-image:url('./flags/153-united-states-of-america.png'); }
.flag-guinea { background-image:url('./flags/154-guinea.png'); }
.flag-orkney-islands { background-image:url('./flags/155-orkney-islands.png'); }
.flag-turks-and-caicos { background-image:url('./flags/156-turks-and-caicos.png'); }
.flag-transnistria { background-image:url('./flags/157-transnistria.png'); }
.flag-tokelau { background-image:url('./flags/158-tokelau.png'); }
.flag-gambia { background-image:url('./flags/159-gambia.png'); }
.flag-st-vincent-and-the-grenadines { background-image:url('./flags/160-st-vincent-and-the-grenadines.png'); }
.flag-south-sudan { background-image:url('./flags/161-south-sudan.png'); }
.flag-somaliland { background-image:url('./flags/162-somaliland.png'); }
.flag-solomon-islands { background-image:url('./flags/163-solomon-islands.png'); }
.flag-vietnam { background-image:url('./flags/164-vietnam.png'); }
.flag-sint-maarten { background-image:url('./flags/165-sint-maarten.png'); }
.flag-sint-eustatius { background-image:url('./flags/166-sint-eustatius.png'); }
.flag-saint-kitts-and-nevis { background-image:url('./flags/167-saint-kitts-and-nevis.png'); }
.flag-saba-island { background-image:url('./flags/168-saba-island.png'); }
.flag-pitcairn-islands { background-image:url('./flags/169-pitcairn-islands.png'); }
.flag-palestine { background-image:url('./flags/170-palestine.png'); }
.flag-ossetia { background-image:url('./flags/171-ossetia.png'); }
.flag-northern-marianas-islands { background-image:url('./flags/172-northern-marianas-islands.png'); }
.flag-nauru { background-image:url('./flags/173-nauru.png'); }
.flag-portugal { background-image:url('./flags/174-portugal.png'); }
.flag-montserrat { background-image:url('./flags/175-montserrat.png'); }
.flag-melilla { background-image:url('./flags/176-melilla.png'); }
.flag-mauritania { background-image:url('./flags/177-mauritania.png'); }
.flag-kuwait { background-image:url('./flags/178-kuwait.png'); }
.flag-kiribati { background-image:url('./flags/179-kiribati.png'); }
.flag-guernsey { background-image:url('./flags/180-guernsey.png'); }
.flag-guam { background-image:url('./flags/181-guam.png'); }
.flag-grenada { background-image:url('./flags/182-grenada.png'); }
.flag-greenland { background-image:url('./flags/183-greenland.png'); }
.flag-thailand { background-image:url('./flags/184-thailand.png'); }
.flag-gibraltar { background-image:url('./flags/185-gibraltar.png'); }
.flag-gabon { background-image:url('./flags/186-gabon.png'); }
.flag-falkland-islands { background-image:url('./flags/187-falkland-islands.png'); }
.flag-virgin-islands { background-image:url('./flags/188-virgin-islands.png'); }
.flag-austria { background-image:url('./flags/189-austria.png'); }
.flag-vatican-city { background-image:url('./flags/190-vatican-city.png'); }
.flag-tubalu { background-image:url('./flags/191-tubalu.png'); }
.flag-turkmenistan { background-image:url('./flags/192-turkmenistan.png'); }
.flag-togo { background-image:url('./flags/193-togo.png'); }
.flag-bahamas { background-image:url('./flags/194-bahamas.png'); }
.flag-netherlands { background-image:url('./flags/195-netherlands.png'); }
.flag-azores-islands { background-image:url('./flags/196-azores-islands.png'); }
.flag-suriname { background-image:url('./flags/197-suriname.png'); }
.flag-somalia { background-image:url('./flags/198-somalia.png'); }
.flag-sicily { background-image:url('./flags/199-sicily.png'); }
.flag-sardinia { background-image:url('./flags/200-sardinia.png'); }
.flag-sao-tome-and-principe { background-image:url('./flags/201-sao-tome-and-principe.png'); }
.flag-norfolk-island { background-image:url('./flags/202-norfolk-island.png'); }
.flag-niger { background-image:url('./flags/203-niger.png'); }
.flag-micronesia { background-image:url('./flags/204-micronesia.png'); }
.flag-marshall-island { background-image:url('./flags/205-marshall-island.png'); }
.flag-canada { background-image:url('./flags/206-canada.png'); }
.flag-mali { background-image:url('./flags/207-mali.png'); }
.flag-kyrgyzstan { background-image:url('./flags/208-kyrgyzstan.png'); }
.flag-guinea-bissau { background-image:url('./flags/209-guinea-bissau.png'); }
.flag-eritrea { background-image:url('./flags/210-eritrea.png'); }
.flag-djibouti { background-image:url('./flags/211-djibouti.png'); }
.flag-curacao { background-image:url('./flags/212-curacao.png'); }
.flag-st-barts { background-image:url('./flags/213-st-barts.png'); }
.flag-san-marino { background-image:url('./flags/214-san-marino.png'); }
.flag-northen-cyprus { background-image:url('./flags/215-northen-cyprus.png'); }
.flag-liechtenstein { background-image:url('./flags/216-liechtenstein.png'); }
.flag-india { background-image:url('./flags/217-india.png'); }
.flag-liberia { background-image:url('./flags/218-liberia.png'); }
.flag-yemen { background-image:url('./flags/219-yemen.png'); }
.flag-uzbekistn { background-image:url('./flags/220-uzbekistn.png'); }
.flag-sudan { background-image:url('./flags/221-sudan.png'); }
.flag-sahrawi-arab-democratic-republic { background-image:url('./flags/222-sahrawi-arab-democratic-republic.png'); }
.flag-republic-of-macedonia { background-image:url('./flags/223-republic-of-macedonia.png'); }
.flag-otan { background-image:url('./flags/224-otan.png'); }
.flag-libya { background-image:url('./flags/225-libya.png'); }
.flag-east-timor { background-image:url('./flags/226-east-timor.png'); }
.flag-tibet { background-image:url('./flags/227-tibet.png'); }
.flag-russia { background-image:url('./flags/228-russia.png'); }
.flag-papua-new-guinea { background-image:url('./flags/229-papua-new-guinea.png'); }
.flag-montenegro { background-image:url('./flags/230-montenegro.png'); }
.flag-moldova { background-image:url('./flags/231-moldova.png'); }
.flag-maldives { background-image:url('./flags/232-maldives.png'); }
.flag-madeira { background-image:url('./flags/233-madeira.png'); }
.flag-french-polynesia { background-image:url('./flags/234-french-polynesia.png'); }
.flag-trinidad-and-tobago { background-image:url('./flags/235-trinidad-and-tobago.png'); }
.flag-tajikistan { background-image:url('./flags/236-tajikistan.png'); }
.flag-swaziland { background-image:url('./flags/237-swaziland.png'); }
.flag-sri-lanka { background-image:url('./flags/238-sri-lanka.png'); }
.flag-mexico { background-image:url('./flags/239-mexico.png'); }
.flag-republic-of-the-congo { background-image:url('./flags/240-republic-of-the-congo.png'); }
.flag-equatorial-guinea { background-image:url('./flags/241-equatorial-guinea.png'); }
.flag-zimbabwe { background-image:url('./flags/242-zimbabwe.png'); }
.flag-rwanda { background-image:url('./flags/243-rwanda.png'); }
.flag-lesotho { background-image:url('./flags/244-lesotho.png'); }
.flag-ivory-coast { background-image:url('./flags/245-ivory-coast.png'); }
.flag-isle-of-man { background-image:url('./flags/246-isle-of-man.png'); }
.flag-haiti { background-image:url('./flags/247-haiti.png'); }
.flag-samoa { background-image:url('./flags/248-samoa.png'); }
.flag-nepal { background-image:url('./flags/249-nepal.png'); }
.flag-brazil { background-image:url('./flags/250-brazil.png'); }
.flag-mongolia { background-image:url('./flags/251-mongolia.png'); }
.flag-malawi { background-image:url('./flags/252-malawi.png'); }
.flag-madagascar { background-image:url('./flags/253-madagascar.png'); }
.flag-jersey { background-image:url('./flags/254-jersey.png'); }
.flag-ghana { background-image:url('./flags/255-ghana.png'); }
.flag-georgia { background-image:url('./flags/256-georgia.png'); }
.flag-estonia { background-image:url('./flags/257-estonia.png'); }
.flag-democratic-republic-of-congo { background-image:url('./flags/258-democratic-republic-of-congo.png'); }
.flag-senegal { background-image:url('./flags/259-senegal.png'); }
.flag-china { background-image:url('./flags/261-china.png'); }
.flag-united-kingdom { background-image:url('./flags/262-united-kingdom.png'); }
