<proride-cover [display]="false"></proride-cover>
<div class="container">
  <h3>Políticas de Envío y Garantías</h3>
  <p>Después de verificar tu pago, tomaría entre 7-10 hábiles para que llegue tu envío. Estos no incluyen fines de semana ni días festivos. Compras realizadas después de las 2 pm. no se procesarán hasta el siguiente día hábil. Si tu compra se realiza un viernes después de las 2 pm, tu orden será procesada hasta el siguiente lunes. Los fletes de despacho los cubre PRORIDE.</p>
  <p>Los fletes de despacho los cubre PRORIDE.</p>
  <p>Si recibes tus stickers dañados o tienes algún problema con tus adhesivos envíanos una foto y te enviaremos, sin costo alguno, un nuevo paquete igual al que compraste.</p>
  <p>Los productos vendidos en PRORIDE tienen una garantía de 12 meses a partir de la fecha de facturación y cubre defectos de fabricación. Básicamente, si el producto no funciona apropiadamente y es nuestra culpa nosotros le reemplazaremos el producto de forma gratuita. Sin embargo, la garantía no cubre ningún tipo de abuso, robo o mal uso por parte del usuario, ni tampoco daños provocados por factores externos como: rozamiento, objetos punzantes o cortantes, productos químicos y corrosivos para el material. </p>
</div>
