<proride-cover asset="cover6" label=""></proride-cover>
<div class="container">
  <h3>Noticias</h3>
  <p><img alt="Colores Stickers" src="{{root}}/assets/proride/news_sticker.png" class="img-fluid" width="25%" style="float:right;">Si quieres cambiar de color de fondo de tus stickers lo podemos hacer, tan solo envianos el color que deseas según los colores.</p>
  <div style="clear:both;"></div>
  <h3>Instagram</h3>
  <p>Sigue nuestro instagram y enterate de todas nuestras novedades, eventos y promociones que tenemos para ti.</p>
  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe src="//lightwidget.com/widgets/8dd659b892af50d5b7e43369103a2fc1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;height:1000px;border:0;overflow:hidden;"></iframe>

</div>