<proride-cover asset="cover6" label=""></proride-cover>
<div class="container">
  <h3 translate>NEWS</h3>
  <p>
    <img alt="Colores Stickers" src="{{root}}/assets/proride/news_sticker.png" class="img-fluid" width="25%" style="float:right;">
    <span translate [translateParams]="{name:'PRORIDE'}">YOU MAY CHANGE COLOR OF STICKERS</span>
  </p>
  <div style="clear:both;"></div>
  <h3 translate>INSTAGRAM</h3>
  <p translate>FOLLOW US ON INSTAGRAM</p>
  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/306667655c95507f82643451b687b264.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;height:100vw;border:0;overflow:hidden;"></iframe>

</div>