<proride-cover asset="cover6" label=""></proride-cover>
<div class="container">
  <h3>Noticias</h3>
  <p>
    <img alt="Colores Stickers" src="{{root}}/assets/proride/news_sticker.png" class="img-fluid" width="25%" style="float:right;">
    Si quieres cambiar el color de fondo de tus stickers lo podemos hacer, tan solo envíanos el color que deseas según los colores de tu bicicleta. Proride te brinda todas las posibilidades.
  </p>
  <div style="clear:both;"></div>
  <h3>Instagram</h3>
  <p>Sigue nuestro Instagram y entérate de todas nuestras novedades, eventos y promociones que tenemos para tí.</p>
  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/306667655c95507f82643451b687b264.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;height:100vw;border:0;overflow:hidden;"></iframe>

</div>