<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button"
          [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()"
          aria-controls="navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/name-and-flag">Name and Flag</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/design">Design</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/package">Package</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/billing">Billing</a>
    </li>
    </ul>
  </div>
</nav>