
.proride-bg-dark {
    background-color: black;
}

.proride-cover.cover1 {
    background-image: url('bg1.jpg'); 
}

.proride-cover.cover2 {
    background-image: url('bg2.jpg'); 
}

.proride-cover.cover3 {
    background-image: url('bg3.jpg'); 
}

.proride-cover.cover4 {
    background-image: url('bg4.jpg'); 
}

.proride-logo {
    background-image: url(logow_150x30.png);
}